.main {
  justify-content: center;
  align-items: center;
}
.Items-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 0px;
  margin: auto;
  border-bottom: 1px solid #eee;
  overflow-y: scroll;
  width: 58vw;
  min-width: 58vw;
  max-width: 58vw;
  height: 80vh;
}
